@import url('https://fonts.cdnfonts.com/css/arcadia');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

.app {
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background-image: linear-gradient(to right, #a3a0a0 0%, black 100%);
  color: white;
  padding-top: 20px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}

    html {
      overflow-y: auto;
      overflow-x: hidden;
    }
  
    body,
    #root {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:-webkit-autofill,
.MuiInputBase-root:has(> input:-webkit-autofill) {
  background-color: none;
}